In [3]:
from typing import Union, Tuple, Optional #Union type; Union[X, Y] is equivalent to X | Y and means either X or Y.
from pathlib import Path
import pandas as pd
import numpy as np
import statistics
def load_csv(p: Union[Path, str]) -> pd.DataFrame:   
 
    if isinstance(p, str):         
        p = Path(p)                

    if 'csv' in p.name:
        return pd.read_csv(p, encoding='utf-8')

    else:
        f = list(p.glob('*.csv'))   
        if len(f) == 0:                                             
            raise FileNotFoundError(f'no csv file under the {p}')  
        elif len(f) == 1:                                          
            return pd.read_csv(f[0], encoding='utf-8')
        else:
            raise RuntimeError(f'multiple csv files under the {p}')  
df=load_csv ("/Users/wei/mph_dissertation/test_file/Smoking Prevalence/Prevalence_of_current_tobacco_use_between_Males_and_Females.csv")
df

,Entity,Code,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2000,55.299999,18.4,19542986.0,NaN
2,Afghanistan,AFG,2005,50.799999,14.5,24411196.0,NaN
3,Afghanistan,AFG,2010,46.799999,11.4,28189672.0,NaN
4,Afghanistan,AFG,2015,42.900002,9.1,33753500.0,Asia
...,...,...,...,...,...,...,...
57046,Zimbabwe,ZWE,2014,NaN,NaN,13855758.0,NaN
57047,Zimbabwe,ZWE,2016,NaN,NaN,14452705.0,NaN
57048,Zimbabwe,ZWE,2017,NaN,NaN,14751101.0,NaN
57049,Zimbabwe,ZWE,2021,NaN,NaN,15993525.0,NaN
57050,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [ ]:
condition=df["Year"]>2000 #OurWorldData 的年份只從2000年開始
df=df[condition]
df

In [ ]:
df=df.drop(['Continent','Code'],axis=1) #我不需要Continent and Code

In [ ]:
Entity=df.sort_values(['Entity'])  #同個國家整理在一起
condition=df["Year"]>2000
df=df[condition]
df

In [ ]:
df['Entity'].value_counts() #總共有310 object #我只需要194個WHO Member States

In [ ]:
filt=(df['Entity']=='Afghanistan',
'Albania',
'Algeria',
'Andorra',
'Argentina',
'Armenia',
'Australia',
'Austria',
'Azerbaijan',
'Bahamas',
'Bahrain',
'Bangladesh',
'Barbados',
'Belarus',
'Belgium',
'Belize',
'Benin',
'Bolivia',
'Bosnia and Herzegovina',
'Botswana',
'Brazil',
'Brunei',
'Bulgaria',
'Burkina Faso',
'Burundi',
'Cambodia',
'Cameroon',
'Canada',
#Cape Verde??
'Chad',
'Chile',
'China',
'Colombia',
'Comoros',
'Congo',
'Costa Rica',
"Cote d'Ivoire", 
'Croatia',
'Cuba',
'Cyprus',
'Czechia',#=Czech Republic
'North Korea', #Democratic People's Republic of Korea
'Democratic Republic of the Congo',
'Denmark',
'Dominican Republic',
'Ecuador',
'Egypt',
'El Salvador',
'Eritrea',
'Estonia',
'Eswatini',
'Ethiopia',
'Fiji',
'Finland',
'France',
'Gambia',
'Georgia',
'Germany',
'Ghana',
'Greece',
'Guatemala',
'Guinea-Bissau',
'Guyana',
'Haiti',
'Hungary',
'Iceland',
'India',
'Indonesia',
'Iran',
'Iraq',
'Ireland',
'Israel',
'Italy',
'Jamaica',
'Japan',
'Jordan',
'Kazakhstan',
'Kenya',
'Kiribati',
'Kuwait',
'Kyrgyzstan',
'Laos',
'Latvia',
'Lebanon',
'Lesotho',
'Liberia',
'Lithuania',
'Luxembourg',
'Madagascar',
'Malawi',
'Malaysia',
'Maldives',
'Mali',
'Malta',
'Marshall Islands',
'Mauritania',
'Mauritius',
'Mexico',
'Mongolia',
'Montenegro',
'Morocco',
'Mozambique',
'Myanmar',
'Namibia',
'Nauru',
'Nepal',
'Netherlands',
'New Zealand',
'Niger',
'Nigeria',
'Norway',
'Oman',
'Pakistan',
'Palau',
'Panama',
'Papua New Guinea',
'Paraguay',
'Peru',
'Philippines',
'Poland',
'Portugal',
'Qatar',
'South Korea',#Republic of Korea
'Romania',
'Russia', #Russian Federation
'Rwanda',
'Samoa',
'Sao Tome and Principe',
'Saudi Arabia',
'Senegal',
'Serbia',
'Seychelles',
'Sierra Leone',
'Singapore',
'Slovakia',
'Slovenia',
'Solomon Islands',
'South Africa',
'Spain',
'Sri Lanka',
'Sweden',
'Switzerland',
'Thailand',
'Timor',#Timor-Leste
'Togo',
'Tonga',
'Tunisia',
'Turkey',#Türkiye
'Turkmenistan',
'Tuvalu',
'Uganda',
'Ukraine',
'United Kingdom',#United Kingdom of Great Britain and Northern Ireland
'United Republic of Tanzania',
'United States',#United States of America
'Uruguay',
'Uzbekistan',
'Vanuatu',
'Vietnam',#Viet Nam
'Yemen',
'Zambia',
'Zimbabwe')


#WHO Member states but not at list of Our World in Data:
#Angola,Antigua and Barbuda,'Bhutan'
#Cabo Verde,Central African Republic','Cook Islands','Djibouti','Dominica','Equatorial Guinea','Gabon', 
#'Grenada','Guinea','Honduras','Libya','Micronesia (Federated States of)','Monaco','Nicaragua','Niue',
#'North Macedonia',
#'Republic of Moldova','Saint Kitts and Nevis','Saint Lucia','Saint Vincent and the Grenadines','San Marino',
#'Somalia','South Sudan','Sudan','Suriname','Syrian Arab Republic','Tajikistan','Trinidad and Tobago',
#'United Arab Emirates',
#'Venezuela (Bolivarian Republic of)'
#df.loc[filt]

In [ ]:
freq=df.groupby(["Entity"]).count() 
freq.sort_values(['Entity'], ascending=False)

In [ ]:
df_Entity=df["Entity"].tolist()  
df_Entity

In [ ]:
condition

In [ ]:
type (condition)

In [5]:
import pandas as pd
from utility import select_df
import numpy as np

In [6]:
# reload automatically from the imported scripts
%load_ext autoreload
%autoreload 2
raw_df = pd.read_csv("/Users/wei/mph_dissertation/test_file/Smoking Prevalence/Prevalence_of_current_tobacco_use_between_Males_and_Females.csv")

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
column_drop = ['Code', 'Continent']
na_header =['Prevalence of current tobacco use, males (% of male adults)', 
            'Prevalence of current tobacco use, females (% of female adults)']
Tobacco_use_in_WHO_MEMBER_STATES=select_df(raw_df, column_drop=column_drop, drop_na=na_header)

In [8]:
Tobacco_use_in_WHO_MEMBER_STATES.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/Tobacco_use_in_WHO_MEMBER_STATES.xlsx', sheet_name='Tobacco')