In [152]:
from typing import Union, Tuple, Optional #Union type; Union[X, Y] is equivalent to X | Y and means either X or Y.
from pathlib import Path
import pandas as pd
import numpy as np
import statistics
def load_csv(p: Union[Path, str]) -> pd.DataFrame:   
 
    if isinstance(p, str):         
        p = Path(p)                

    if 'csv' in p.name:
        return pd.read_csv(p, encoding='utf-8')

    else:
        f = list(p.glob('*.csv'))   
        if len(f) == 0:                                             
            raise FileNotFoundError(f'no csv file under the {p}')  
        elif len(f) == 1:                                          
            return pd.read_csv(f[0], encoding='utf-8')
        else:
            raise RuntimeError(f'multiple csv files under the {p}')  
df=load_csv ("/Users/wei/mph_dissertation/test_file/Smoking Prevalence/Prevalence_of_current_tobacco_use_between_Males_and_Females.csv")
df

,Entity,Code,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
1,Afghanistan,AFG,2000,55.299999,18.4,19542986.0,NaN
2,Afghanistan,AFG,2005,50.799999,14.5,24411196.0,NaN
3,Afghanistan,AFG,2010,46.799999,11.4,28189672.0,NaN
4,Afghanistan,AFG,2015,42.900002,9.1,33753500.0,Asia
...,...,...,...,...,...,...,...
57046,Zimbabwe,ZWE,2014,NaN,NaN,13855758.0,NaN
57047,Zimbabwe,ZWE,2016,NaN,NaN,14452705.0,NaN
57048,Zimbabwe,ZWE,2017,NaN,NaN,14751101.0,NaN
57049,Zimbabwe,ZWE,2021,NaN,NaN,15993525.0,NaN
57050,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [153]:
condition=df["Year"]>2000 #OurWorldData 的年份只從2000年開始
df=df[condition]
df

,Entity,Code,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates),Continent
0,Abkhazia,OWID_ABK,2015,NaN,NaN,NaN,Asia
2,Afghanistan,AFG,2005,50.799999,14.5,24411196.0,NaN
3,Afghanistan,AFG,2010,46.799999,11.4,28189672.0,NaN
4,Afghanistan,AFG,2015,42.900002,9.1,33753500.0,Asia
5,Afghanistan,AFG,2018,40.799999,7.9,36686788.0,NaN
...,...,...,...,...,...,...,...
57046,Zimbabwe,ZWE,2014,NaN,NaN,13855758.0,NaN
57047,Zimbabwe,ZWE,2016,NaN,NaN,14452705.0,NaN
57048,Zimbabwe,ZWE,2017,NaN,NaN,14751101.0,NaN
57049,Zimbabwe,ZWE,2021,NaN,NaN,15993525.0,NaN
57050,Åland Islands,ALA,2015,NaN,NaN,NaN,Europe

In [154]:
df=df.drop(['Continent','Code'],axis=1) #我不需要Continent and Code

In [155]:
Entity=df.sort_values(['Entity'])  #同個國家整理在一起
condition=df["Year"]>2000
df=df[condition]
df

,Entity,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates)
0,Abkhazia,2015,NaN,NaN,NaN
2,Afghanistan,2005,50.799999,14.5,24411196.0
3,Afghanistan,2010,46.799999,11.4,28189672.0
4,Afghanistan,2015,42.900002,9.1,33753500.0
5,Afghanistan,2018,40.799999,7.9,36686788.0
...,...,...,...,...,...
57046,Zimbabwe,2014,NaN,NaN,13855758.0
57047,Zimbabwe,2016,NaN,NaN,14452705.0
57048,Zimbabwe,2017,NaN,NaN,14751101.0
57049,Zimbabwe,2021,NaN,NaN,15993525.0
57050,Åland Islands,2015,NaN,NaN,NaN

In [156]:
df['Entity'].value_counts() #總共有310 object #我只需要194個WHO Member States

Vietnam         21
Comoros         21
Greece          21
Malaysia        21
Timor           21
                ..
Zanzibar         1
Transnistria     1
Hanover          1
Two Sicilies     1
Tuscany          1
Name: Entity, Length: 310, dtype: int64

In [167]:
filt=(df['Entity']=='Afghanistan',
'Albania',
'Algeria',
'Andorra',
'Argentina',
'Armenia',
'Australia',
'Austria',
'Azerbaijan',
'Bahamas',
'Bahrain',
'Bangladesh',
'Barbados',
'Belarus',
'Belgium',
'Belize',
'Benin',
'Bolivia',
'Bosnia and Herzegovina',
'Botswana',
'Brazil',
'Brunei',
'Bulgaria',
'Burkina Faso',
'Burundi',
'Cambodia',
'Cameroon',
'Canada',
#Cape Verde??
'Chad',
'Chile',
'China',
'Colombia',
'Comoros',
'Congo',
'Costa Rica',
"Cote d'Ivoire", 
'Croatia',
'Cuba',
'Cyprus',
'Czechia',#=Czech Republic
'North Korea', #Democratic People's Republic of Korea
'Democratic Republic of the Congo',
'Denmark',
'Dominican Republic',
'Ecuador',
'Egypt',
'El Salvador',
'Eritrea',
'Estonia',
'Eswatini',
'Ethiopia',
'Fiji',
'Finland',
'France',
'Gambia',
'Georgia',
'Germany',
'Ghana',
'Greece',
'Guatemala',
'Guinea-Bissau',
'Guyana',
'Haiti',
'Hungary',
'Iceland',
'India',
'Indonesia',
'Iran',
'Iraq',
'Ireland',
'Israel',
'Italy',
'Jamaica',
'Japan',
'Jordan',
'Kazakhstan',
'Kenya',
'Kiribati',
'Kuwait',
'Kyrgyzstan',
'Laos',
'Latvia',
'Lebanon',
'Lesotho',
'Liberia',
'Lithuania',
'Luxembourg',
'Madagascar',
'Malawi',
'Malaysia',
'Maldives',
'Mali',
'Malta',
'Marshall Islands',
'Mauritania',
'Mauritius',
'Mexico',
'Mongolia',
'Montenegro',
'Morocco',
'Mozambique',
'Myanmar',
'Namibia',
'Nauru',
'Nepal',
'Netherlands',
'New Zealand',
'Niger',
'Nigeria',
'Norway',
'Oman',
'Pakistan',
'Palau',
'Panama',
'Papua New Guinea',
'Paraguay',
'Peru',
'Philippines',
'Poland',
'Portugal',
'Qatar',
'South Korea',#Republic of Korea
'Romania',
'Russia', #Russian Federation
'Rwanda',
'Samoa',
'Sao Tome and Principe',
'Saudi Arabia',
'Senegal',
'Serbia',
'Seychelles',
'Sierra Leone',
'Singapore',
'Slovakia',
'Slovenia',
'Solomon Islands',
'South Africa',
'Spain',
'Sri Lanka',
'Sweden',
'Switzerland',
'Thailand',
'Timor',#Timor-Leste
'Togo',
'Tonga',
'Tunisia',
'Turkey',#Türkiye
'Turkmenistan',
'Tuvalu',
'Uganda',
'Ukraine',
'United Kingdom',#United Kingdom of Great Britain and Northern Ireland
'United Republic of Tanzania',
'United States',#United States of America
'Uruguay',
'Uzbekistan',
'Vanuatu',
'Vietnam',#Viet Nam
'Yemen',
'Zambia',
'Zimbabwe')


#WHO Member states but not at list of Our World in Data:
#Angola,Antigua and Barbuda,'Bhutan'
#Cabo Verde,Central African Republic','Cook Islands','Djibouti','Dominica','Equatorial Guinea','Gabon', 
#'Grenada','Guinea','Honduras','Libya','Micronesia (Federated States of)','Monaco','Nicaragua','Niue',
#'North Macedonia',
#'Republic of Moldova','Saint Kitts and Nevis','Saint Lucia','Saint Vincent and the Grenadines','San Marino',
#'Somalia','South Sudan','Sudan','Suriname','Syrian Arab Republic','Tajikistan','Trinidad and Tobago',
#'United Arab Emirates',
#'Venezuela (Bolivarian Republic of)'
#df.loc[filt]

In [158]:
freq=df.groupby(["Entity"]).count() 
freq.sort_values(['Entity'], ascending=False)

,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates)
Entity,,,,
Åland Islands,1,0,0,0
Zimbabwe,21,6,6,21
Zanzibar,1,0,0,0
Zambia,21,6,6,21
Yugoslavia,1,0,0,0
...,...,...,...,...
Albania,21,6,6,21
Akrotiri and Dhekelia,1,0,0,0
Africa,21,0,0,21
Afghanistan,21,6,6,21
Abkhazia,1,0,0,0

In [159]:
df_Entity=df["Entity"].tolist()  
df_Entity

['Abkhazia',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Afghanistan',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Africa',
 'Akrotiri and Dhekelia',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Albania',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'Algeria',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'American Samoa',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Andorra',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Angola',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Anguilla',
 'Antarctica',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Antigua and Barbuda',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Argentina',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Armenia',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Aruba',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Asia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria',
 'Austria-Hungary',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Azerbaijan',
 'Baden',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahamas',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bahrain',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Bangladesh',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Barbados',
 'Bavaria',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belarus',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belgium',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Belize',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Benin',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bermuda',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bhutan',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bolivia',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bonaire Sint Eustatius and Saba',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Bosnia and Herzegovina',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Botswana',
 'Bouvet Island',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'Brazil',
 'British Indian Ocean Territory',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'British Virgin Islands',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Brunei',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Bulgaria',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burkina Faso',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Burundi',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cambodia',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Cameroon',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Canada',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cape Verde',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Cayman Islands',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Central African Republic',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Chad',
 'Channel Islands',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'Chile',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'China',
 'Christmas Island',
 'Cocos Islands',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Colombia',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Comoros',
 'Congo',
 'Congo',
 ...]