In [15]:
import pandas as pd
import numpy as np

df=pd.read_excel("/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/Final_WHO_CVD_Mortality_modified.xlsx")
df = df.dropna()
df.to_excel("/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/Final_WHO_CVD_Mortality_modified.xlsx")

In [1]:
    #    entity_list = df['Entity'].unique()
    #    year_list = df['Year'].unique()
    #    sex_list = df['Sex'].unique()
    #    for entity in entity_list:
    #        for year in year_list:
    #            for sex in sex_list:
    #                mask_a = df['Entity'] == entity
    #                mask_b = df['Year'] == year
    #                mask_c = df['Sex'] == sex

    #                mask_all = mask_a & mask_b & mask_c

    #                print(df[mask_all].shape[0])

In [12]:
df.drop

<bound method DataFrame.drop of       Unnamed: 0      Entity  Year  All_number  Female_number  Male_number  \
0              0     Albania  2000     15175.0         7018.0       8157.0
1              3     Albania  2001     14877.0         6808.0       8069.0
2              6     Albania  2002     15971.0         7523.0       8448.0
3              9     Albania  2003     17808.0         8434.0       9374.0
4             12     Albania  2004     17620.0         8343.0       9277.0
...          ...         ...   ...         ...            ...          ...
4699        5005  Uzbekistan  2018         NaN            NaN          NaN
4700        5006  Uzbekistan  2018         NaN            NaN          NaN
4701        5007  Uzbekistan  2019    186233.0        87354.0      98879.0
4702        5008  Uzbekistan  2019         NaN            NaN          NaN
4703        5009  Uzbekistan  2019         NaN            NaN          NaN

      All_total number of death  Female_total number of death  \
0                       30817.0                       13030.0
1                       29176.0                       12401.0
2                       31488.0                       13811.0
3                       34955.0                       15469.0
4                       34615.0                       15221.0
...                         ...                           ...
4699                        NaN                           NaN
4700                        NaN                           NaN
4701                   297321.0                      135706.0
4702                        NaN                           NaN
4703                        NaN                           NaN

      Male_total number of death  All_total percentage of CVD  \
0                        17783.0                    49.242301
1                        16771.0                    50.990540
2                        17669.0                    50.720910
3                        19484.0                    50.945501
4                        19383.0                    50.902788
...                          ...                          ...
4699                         NaN                          NaN
4700                         NaN                          NaN
4701                    161606.0                    62.637015
4702                         NaN                          NaN
4703                         NaN                          NaN

      Female_total percentage of CVD  Male_total percentage of CVD
0                          53.860322                     45.869651
1                          54.898798                     48.112814
2                          54.471074                     47.812553
3                          54.521947                     48.111271
4                          54.812430                     47.861528
...                              ...                           ...
4699                             NaN                           NaN
4700                             NaN                           NaN
4701                       64.370035                     61.185228
4702                             NaN                           NaN
4703                             NaN                           NaN

[4704 rows x 12 columns]>

In [ ]:
,df['All_total number of death'],df['Female_total number of death'],df['Male_total number of death'],df['All_total percentage of CVD'],df['Female_total percentage of CVD'],df['Male_total percentage of CVD'])