In [ ]:
%run utility_WHO.py
import pandas as pd
import numpy as np
%load_ext autoreload
%autoreload 2
df=pd.read_excel("/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality_specific_year_Age_over15.xlsx")
df

In [ ]:
#from utility_WHO import total_death

In [ ]:
#total_death(df)

In [ ]:
pwd

In [ ]:
#total_death_data=data['Total number of death']=data['Number']*100/data['Percentage of cause-specific deaths out of total deaths']

In [ ]:
df1=df.insert(8, "Total number of death", df['Number']*100/df['Percentage of cause-specific deaths out of total deaths'])

In [ ]:
#df1.insert(9, "Total number of death_Gender", df['Number']*100/df['Percentage of cause-specific deaths out of total deaths'])

In [ ]:
#分別把每個國家及每個年份的Male and Female 的 SUM of number/ SUM of Total number of death * 100 --> 新的col n row. (每15個算一次)
#每個男生 女生 all 都有15個年齡層.

In [1]:
import pandas as pd

# Create a DataFrame with 4 rows and 2 columns
df = pd.DataFrame({'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]})

# Reset the index of the DataFrame, so the new column will be aligned correctly
df = df.reset_index(drop=True)

# Insert the new column with 3 values
df['col3'] = pd.Series([9, 10, 11])

# Now the DataFrame has 3 columns and 3 rows
df

   col1  col2  col3
0     1     5   9.0
1     2     6  10.0
2     3     7  11.0
3     4     8   NaN

In [1]:
    #    entity_list = df['Entity'].unique()
    #    year_list = df['Year'].unique()
    #    sex_list = df['Sex'].unique()
    #    for entity in entity_list:
    #        for year in year_list:
    #            for sex in sex_list:
    #                mask_a = df['Entity'] == entity
    #                mask_b = df['Year'] == year
    #                mask_c = df['Sex'] == sex

    #                mask_all = mask_a & mask_b & mask_c

    #                print(df[mask_all].shape[0])

In [6]:
def Ireland():
    # Code to be executed goes here
    print('Hello, world!')

if __name__ == '__main__':

NameError: name 'ireland' is not defined

In [9]:
import pandas as pd 
import numpy as np

df = pd.DataFrame({'Number': [1, 2, 3], 'Percentage': [50, 50, 50]})
numbers = df['Number']
percentage = df['Percentage']
df["Total number of death"] = numbers * 100 / percentage
total_number_of_death = df["Total number of death"]
mask_nan = np.isnan(total_number_of_death)  # type: pd.Series[bool]

# Use .loc to modify the original data instead of creating a copy
df.loc[mask_nan, 'Total number of death'] = 0
df['Total number of death'] = df['Total number of death'].astype(int)

In [11]:
import pandas as pd
df = pd.DataFrame({'col1': [1, 2, 3, 4], 'col2': [5, 6, 7, 8]})
import pprint

In [13]:
print(df)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [15]:
pprint.pprint(df)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [16]:
import pprint

data = {'name': 'John', 'age': 30, 'city': 'New York', 'skills': ['Python', 'Java', 'C++']}
pprint.pprint(data)

{'age': 30,
 'city': 'New York',
 'name': 'John',
 'skills': ['Python', 'Java', 'C++']}

In [17]:
print (data)

{'name': 'John', 'age': 30, 'city': 'New York', 'skills': ['Python', 'Java', 'C++']}

In [18]:
from itertools import groupby

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def is_even(n):
    return n % 2 == 0

grouped_data = groupby(data, key=is_even)
keys = grouped_data.groups.keys()
print(keys)

AttributeError: 'itertools.groupby' object has no attribute 'groups'