In [1]:
from typing import Union, Tuple, Optional #Union type; Union[X, Y] is equivalent to X | Y and means either X or Y.
from pathlib import Path
import pandas as pd
import numpy as np
import statistics
def load_csv(p: Union[Path, str]) -> pd.DataFrame:   
 
    if isinstance(p, str):         
        p = Path(p)                

    if 'csv' in p.name:
        return pd.read_csv(p, encoding='utf-8')

    else:
        f = list(p.glob('*.csv'))   
        if len(f) == 0:                                             
            raise FileNotFoundError(f'no csv file under the {p}')  
        elif len(f) == 1:                                          
            return pd.read_csv(f[0], encoding='utf-8')
        else:
            raise RuntimeError(f'multiple csv files under the {p}')  

df = pd.read_csv("/Users/wei/mph_dissertation/test_file/WHO Cardiovascular Mortality Database/WHO Cardiovascular Disease Mortality Database_1st Dec 2022.csv")
df

,Region Code,Region Name,Country Code,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population,Unnamed: 12
0,EU,Europe,ALB,Albania,1987,All,Age_unknown,[Unknown],0.0,NaN,NaN,NaN,NaN
1,EU,Europe,ALB,Albania,1987,All,Age85_over,[85+],1211.0,54.402516,NaN,12110.000000,NaN
2,EU,Europe,ALB,Albania,1987,All,Age80_84,[80-84],955.0,58.267236,NaN,5753.012048,NaN
3,EU,Europe,ALB,Albania,1987,All,Age75_79,[75-79],1178.0,55.697400,NaN,3824.675325,NaN
4,EU,Europe,ALB,Albania,1987,All,Age70_74,[70-74],969.0,53.654485,NaN,2375.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
297061,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age65_69,[65-69],27544.0,22.275418,NaN,294.470038,NaN
297062,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age70_74,[70-74],37119.0,23.366445,NaN,481.480655,NaN
297063,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age75_79,[75-79],45496.0,24.937514,NaN,842.401830,NaN
297064,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age80_84,[80-84],57940.0,27.487594,NaN,1584.974637,NaN
297065,NAC,North America and the Caribbean,USA,United States of America,2020,Female,Age85_over,[85+],210191.0,34.017819,NaN,4952.201668,NaN

In [2]:
%load_ext autoreload
%autoreload 2
raw_df = pd.read_csv("/Users/wei/mph_dissertation/test_file/WHO Cardiovascular Mortality Database/WHO Cardiovascular Disease Mortality Database_1st Dec 2022.csv")

In [3]:
import pandas as pd
from utility_WHO import select_df
import numpy as np

column_drop = ['Country Code', 'Region Code','Age-standardized death rate per 100 000 standard population','Unnamed: 12']
na_header =['Number', 
            'Percentage of cause-specific deaths out of total deaths',
            'Death rate per 100 000 population'
           ]
WHO_Cardiovascular_Disease_Mortality=select_df(raw_df, column_drop=column_drop, drop_na=na_header)
WHO_Cardiovascular_Disease_Mortality

,Region Name,Country Name,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Death rate per 100 000 population
0,Europe,Albania,2001,All,Age_all,[All],7516.0,49.633494,244.878677
1,Europe,Albania,2001,All,Age00,[0],63.0,10.447761,120.949163
2,Europe,Albania,2001,All,Age01_04,[1-4],50.0,20.080321,22.952837
3,Europe,Albania,2001,All,Age05_09,[5-9],27.0,19.708029,8.891436
4,Europe,Albania,2001,All,Age10_14,[10-14],15.0,13.636364,4.611851
...,...,...,...,...,...,...,...,...,...
116965,North America and the Caribbean,United States of America,2020,Female,Age65_69,[65-69],27544.0,22.275418,294.470038
116966,North America and the Caribbean,United States of America,2020,Female,Age70_74,[70-74],37119.0,23.366445,481.480655
116967,North America and the Caribbean,United States of America,2020,Female,Age75_79,[75-79],45496.0,24.937514,842.401830
116968,North America and the Caribbean,United States of America,2020,Female,Age80_84,[80-84],57940.0,27.487594,1584.974637
116969,North America and the Caribbean,United States of America,2020,Female,Age85_over,[85+],210191.0,34.017819,4952.201668

In [4]:
WHO_Cardiovascular_Disease_Mortality.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality.xlsx', sheet_name='Mortality')