In [1]:
from typing import Union, Tuple, Optional #Union type; Union[X, Y] is equivalent to X | Y and means either X or Y.
from pathlib import Path
import pandas as pd
import numpy as np
import statistics
def load_csv(p: Union[Path, str]) -> pd.DataFrame:   
 
    if isinstance(p, str):         
        p = Path(p)                

    if 'csv' in p.name:
        return pd.read_csv(p, encoding='utf-8')

    else:
        f = list(p.glob('*.csv'))   
        if len(f) == 0:                                             
            raise FileNotFoundError(f'no csv file under the {p}')  
        elif len(f) == 1:                                          
            return pd.read_csv(f[0], encoding='utf-8')
        else:
            raise RuntimeError(f'multiple csv files under the {p}')  

df = pd.read_csv("/Users/wei/mph_dissertation/test_file/WHO Cardiovascular Mortality Database/WHO Cardiovascular Disease Mortality Database_1st Dec 2022.csv")
#df

In [2]:
%load_ext autoreload
%autoreload 2
raw_df = pd.read_csv("/Users/wei/mph_dissertation/test_file/WHO Cardiovascular Mortality Database/WHO Cardiovascular Disease Mortality Database_1st Dec 2022.csv")

In [3]:
import pandas as pd
from utility_WHO import select_df
import numpy as np

column_drop = ['Country Code','Region Name', 'Region Code','Age-standardized death rate per 100 000 standard population','Unnamed: 12']
na_header =['Number', 
            'Percentage of cause-specific deaths out of total deaths',
            'Death rate per 100 000 population'
           ]
df=select_df(raw_df, column_drop=column_drop, drop_na=na_header)
df

,Entity,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Death rate per 100 000 population
0,Albania,2000,All,Age_all,[All],7841.0,47.778929,251.798330
1,Albania,2000,All,Age00,[0],33.0,5.670103,58.407080
2,Albania,2000,All,Age01_04,[1-4],45.0,13.119534,17.234776
3,Albania,2000,All,Age05_09,[5-9],26.0,15.384615,7.144820
4,Albania,2000,All,Age10_14,[10-14],14.0,11.864407,4.170390
...,...,...,...,...,...,...,...,...
123223,United States of America,2020,Female,Age65_69,[65-69],27544.0,22.275418,294.470038
123224,United States of America,2020,Female,Age70_74,[70-74],37119.0,23.366445,481.480655
123225,United States of America,2020,Female,Age75_79,[75-79],45496.0,24.937514,842.401830
123226,United States of America,2020,Female,Age80_84,[80-84],57940.0,27.487594,1584.974637
123227,United States of America,2020,Female,Age85_over,[85+],210191.0,34.017819,4952.201668

In [4]:
#df.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality.xlsx', sheet_name='Mortality')

In [5]:
df['Entity'].value_counts()

Spain                       1260
Estonia                     1260
United States of America    1260
Czechia                     1260
Lithuania                   1260
                            ...
Iraq                         174
Seychelles                   154
Mongolia                      60
Cabo Verde                    60
Lebanon                       60
Name: Entity, Length: 111, dtype: int64

In [6]:
options=[2000,2005,2010,2015,2018,2019,2020]
new_df =df[df['Year'].isin(options)]
new_df

,Entity,Year,Sex,Age group code,Age Group,Number,Percentage of cause-specific deaths out of total deaths,Death rate per 100 000 population
0,Albania,2000,All,Age_all,[All],7841.0,47.778929,251.798330
1,Albania,2000,All,Age00,[0],33.0,5.670103,58.407080
2,Albania,2000,All,Age01_04,[1-4],45.0,13.119534,17.234776
3,Albania,2000,All,Age05_09,[5-9],26.0,15.384615,7.144820
4,Albania,2000,All,Age10_14,[10-14],14.0,11.864407,4.170390
...,...,...,...,...,...,...,...,...
123223,United States of America,2020,Female,Age65_69,[65-69],27544.0,22.275418,294.470038
123224,United States of America,2020,Female,Age70_74,[70-74],37119.0,23.366445,481.480655
123225,United States of America,2020,Female,Age75_79,[75-79],45496.0,24.937514,842.401830
123226,United States of America,2020,Female,Age80_84,[80-84],57940.0,27.487594,1584.974637
123227,United States of America,2020,Female,Age85_over,[85+],210191.0,34.017819,4952.201668

In [7]:
#new_df.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality_specific_year.xlsx', sheet_name='Mortality')

In [8]:
options=['Age_all',
'Age15_19',
'Age20_24',
'Age25_29',
'Age30_34',
'Age35_39',
'Age40_44',
'Age45_49',
'Age50_54',
'Age55_59',
'Age60_64',
'Age65_69',
'Age70_74',
'Age75_79',
'Age80_84',
'Age85_over']
Age_df =new_df[new_df['Age group code'].isin(options)]
#Age_df

In [9]:
#Age_df.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality_specific_year_age.xlsx', sheet_name='Mortality')

In [10]:
options=['Age15_19',
'Age20_24',
'Age25_29',
'Age30_34',
'Age35_39',
'Age40_44',
'Age45_49',
'Age50_54',
'Age55_59',
'Age60_64',
'Age65_69',
'Age70_74',
'Age75_79',
'Age80_84',
'Age85_over']
Age_over15_df =new_df[new_df['Age group code'].isin(options)]
#Age_over15_df

calculate Age 15 to Age 85_over and create new col.

In [11]:
#Age_over15_df.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality_specific_year_Age_over15.xlsx', sheet_name='Mortality')

In [12]:
Age_over15_df.insert(7, "Total number of death", Age_over15_df['Number']*100/Age_over15_df['Percentage of cause-specific deaths out of total deaths'])

In [13]:
Age_over15_total_number_of_death_df=Age_over15_df

In [ ]:
#Age_over15_total_number_of_death_df.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality_specific_year_Age_over15_totaldeath.xlsx', sheet_name='Mortality')

NEXT:
分別把每個國家及每個年份的Male and Female 的 SUM of number/ SUM of Total number of death * 100 --> 新的col n row.

In [23]:
Age_over15_total_number_of_death_df['Number'[0,15]]

<>:1: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
<ipython-input-23-80f2e18da43b>:1: SyntaxWarning: str indices must be integers or slices, not tuple; perhaps you missed a comma?
  Age_over15_total_number_of_death_df['Number'[0,15]]

TypeError: string indices must be integers

In [24]:
import numpy as np
import pandas as pd


def preprocess_cvd(df: pd.DataFrame,
                   grouping_age: bool = True,
                   save: bool = True) -> pd.DataFrame:
    """
    Dataframe of WHO_CVD_mortality modify:
    - grouping if set kwarg `grouping_age` as true
    - Calculate total number of death
    - Calculate Total percentage of cause-specific deaths out of total deaths (%) =
    Sum of number of ALL n Males n Females/Sum of total number of death of ALL n Males n Females * 100
    - save as another dataframe

    :param df: input dataframe (WHO_CVD_mortality)
    :param grouping_age: 16 age groups --> one age group (greater 15 y/o)
    :param save: save modified dataframe to another excel
    :return:
        TODO
    """
    # Sum of number of death in each age group
    numbers = df['Number']
    percentage = df['Percentage of cause-specific deaths out of total deaths']
    df["Total number of death"] = numbers * 100 / percentage
    total_number_of_death = df["Total number of death"]
    mask_nan = np.isnan(total_number_of_death)  # type: pd.Series[bool]
    total_number_of_death[mask_nan] = 0
    total_number_of_death = total_number_of_death.astype(int)  # astype can cast/change multiple types

    # Total percentage of cause-specific deaths out of total deaths = Sum of number/ SUM of Total number of death * 100
    # (Male/ Female/ All in each year and country, Calculate every 15 columns)
    df['total_percentage'] = df.sum(numbers[0, 15, 15]) / df.sum(total_number_of_death[0, 15, 15]) * 100
    total_percentage = df['total_percentage']
    total_percentage = total_percentage.astype(int)

    print(type(total_number_of_death[0]))

    print(df[:5].to_markdown())

    if save:
        pass
    # pass : ignore it


if __name__ == '__main__':
    df = pd.read_excel(
        '/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/WHO_Cardiovascular_Disease_Mortality_specific_year_Age_over15.xlsx')
    preprocess_cvd(df)

<ipython-input-24-945012d231f8>:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_number_of_death[mask_nan] = 0

KeyError: 'key of type tuple not found and not a MultiIndex'