In [4]:
import pandas as pd
from util import select_df
import numpy as np

In [5]:
# reload automatically from the imported scripts
%load_ext autoreload
%autoreload 2

In [6]:
raw_df = pd.read_csv('../../test_file/Smoking Prevalence/Prevalence_of_current_tobacco_use_between_Males_and_Females.csv')

In [4]:
column_drop = ['Code', 'Continent']
na_header =['Prevalence of current tobacco use, males (% of male adults)', 
            'Prevalence of current tobacco use, females (% of female adults)']
select_df(raw_df, column_drop=column_drop, drop_na=na_header)

,Entity,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates)
0,Afghanistan,2005,50.799999,14.5,24411196.0
1,Afghanistan,2010,46.799999,11.4,28189672.0
2,Afghanistan,2015,42.900002,9.1,33753500.0
3,Afghanistan,2018,40.799999,7.9,36686788.0
4,Afghanistan,2019,40.099998,7.5,37769496.0
...,...,...,...,...,...
3907,Zimbabwe,2010,28.600000,2.6,12839774.0
3908,Zimbabwe,2015,25.100000,2.0,14154937.0
3909,Zimbabwe,2018,23.000000,1.7,15052191.0
3910,Zimbabwe,2019,22.500000,1.6,15354606.0
3911,Zimbabwe,2020,21.799999,1.5,15669663.0