In [2]:
import pandas as pd

from util import select_df

In [3]:
# reload automatically from the imported scripts
%load_ext autoreload
%autoreload 2

In [4]:
raw_df = pd.read_csv('../../test_file/Smoking Prevalence/Prevalence_of_current_tobacco_use_between_Males_and_Females.csv')

In [5]:
column_drop = ['Code', 'Continent']
select_df(raw_df, column_drop=column_drop)

,Entity,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates)
0,Afghanistan,2005,50.799999,14.5,24411196.0
1,Afghanistan,2010,46.799999,11.4,28189672.0
2,Afghanistan,2015,42.900002,9.1,33753500.0
3,Afghanistan,2018,40.799999,7.9,36686788.0
4,Afghanistan,2019,40.099998,7.5,37769496.0
...,...,...,...,...,...
3922,Zimbabwe,2013,NaN,NaN,13555420.0
3923,Zimbabwe,2014,NaN,NaN,13855758.0
3924,Zimbabwe,2016,NaN,NaN,14452705.0
3925,Zimbabwe,2017,NaN,NaN,14751101.0
3926,Zimbabwe,2021,NaN,NaN,15993525.0

In [6]:
Total_WHOmemberships=select_df(raw_df, column_drop=column_drop)['Entity'].value_counts()

In [7]:
Total_WHOmemberships

Jordan          21
Australia       21
Sierra Leone    21
Thailand        21
Kenya           21
                ..
Kuwait          21
Panama          21
Nigeria         21
Serbia          21
Switzerland     21
Name: Entity, Length: 187, dtype: int64

In [8]:
Tobacco_use_in_WHO_MEMBER_STATES=select_df(raw_df, column_drop=column_drop).dropna(subset=["Prevalence of current tobacco use, males (% of male adults)", "Prevalence of current tobacco use, females (% of female adults)"])
Tobacco_use_in_WHO_MEMBER_STATES

,Entity,Year,"Prevalence of current tobacco use, males (% of male adults)","Prevalence of current tobacco use, females (% of female adults)",Population (historical estimates)
0,Afghanistan,2005,50.799999,14.5,24411196.0
1,Afghanistan,2010,46.799999,11.4,28189672.0
2,Afghanistan,2015,42.900002,9.1,33753500.0
3,Afghanistan,2018,40.799999,7.9,36686788.0
4,Afghanistan,2019,40.099998,7.5,37769496.0
...,...,...,...,...,...
3907,Zimbabwe,2010,28.600000,2.6,12839774.0
3908,Zimbabwe,2015,25.100000,2.0,14154937.0
3909,Zimbabwe,2018,23.000000,1.7,15052191.0
3910,Zimbabwe,2019,22.500000,1.6,15354606.0
3911,Zimbabwe,2020,21.799999,1.5,15669663.0

In [10]:
Tobacco_use_in_WHO_MEMBER_STATES.to_excel('/Users/wei/UCD-MPH/MPH-Lecture:Modules/MPH Dissertation/MPH Dissertation/Tobacco_use_in_WHO_MEMBER_STATES.xlsx', sheet_name='Tobacco') #還要去掉prevalence 是空白的