In [7]:
import pandas as pd

from util import select_df

In [5]:
# reload automatically from the imported scripts
%load_ext autoreload
%autoreload 2

In [10]:
raw_df = pd.read_csv('../../test_file/Smoking Prevalence/Prevalence_of_current_tobacco_use_between_Males_and_Females.csv')

In [13]:
column_drop = ['Code', 'Continent']
select_df(raw_df, column_drop=column_drop)

           Entity  ...  Population (historical estimates)
0     Afghanistan  ...                         24411196.0
1     Afghanistan  ...                         28189672.0
2     Afghanistan  ...                         33753500.0
3     Afghanistan  ...                         36686788.0
4     Afghanistan  ...                         37769496.0
...           ...  ...                                ...
3334     Zimbabwe  ...                         13555420.0
3335     Zimbabwe  ...                         13855758.0
3336     Zimbabwe  ...                         14452705.0
3337     Zimbabwe  ...                         14751101.0
3338     Zimbabwe  ...                         15993525.0

[3339 rows x 5 columns]